<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>HI</center></h1>
    <h2><center>Here is guongoguma!</center></h2>
    <h3><center>It's for you..*^^*</center></h3>
    <center><button type="button" onclick="location.href='nogoguma'">hate goguma..?</button></center>
    <center><button type="button" onclick="location.href='seoul'">seoul weather</button></center>
    <center><button type="button" onclick="location.href='plot'">plot</button></center>
    <center><img alt="guongoguma" src="../static/guongoguma.jpg" height="50%" width="50%" ></center>
</body>
</html>