<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>than.. gamja..</center></h1>
    <center><a href="http://10.10.15.145:5000">alreadyjoo</a></center>
    <center><button type="button" onclick="history.back()">back</button></center>
    <!--<center><button type="button" onclick='http://10.10.15.145:5000'>alreadyjoo</button></center>-->
    <center><img alt="gamja" src="../static/gamja.jpg" height="50%" width="50%" ></center>
</body>
</html>